/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background: rgb(19,62,124);
    background: linear-gradient(180deg, rgba(19,62,124,1) 0%, rgba(9,24,51,1) 100%);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: alarm-clock;
    src: url(/fonts/alarm\ clock.ttf);
}

@font-face{
    font-family: gomarice;
    src: url(/fonts/gomarice_gogono_cocoa_mochi.ttf);
}

@font-face {
    font-family: kollektif;
    src: url(/fonts/Kollektif.ttf);
}

@font-face {
    font-family: norwester;
    src: url(/fonts/norwester.otf);
}

body {
    overflow-x: hidden;
}

:root {
    --dark_purple: #711C91;
    --pink: #EA00D9;
    --light_blue: #0ABDC6;
    --dark_blue: #133E7C;
    --background_blue: #091833;
    --light_green: #02C63D;
    --dark_green: #005319;
    --white: #ffffff;
    --grey: #F2F2f2;
}

.shadowed {
    width: 150px;
    -webkit-filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.7));
}

.wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(19, 310px);
    width: 1260px;
}
/* ROW 1 */
.satilite {
    height: 65px;
    width: auto;
    grid-column-start: 12 ;
    grid-column-end: -1;
    align-self: center;
    justify-self: center;
}

.eyebrow_text {
    font-family: norwester;
    grid-column-start: 1 ;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    font-size: 62px;
    transform: translateY(-40px);
    color: var(--grey);
}

.header_text {
    font-family: gomarice;
    grid-column-start: 1 ;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    font-size: 105px;
    transform: translateY(35px);
    color: var(--pink);
    -webkit-text-stroke: 1px white;
    text-shadow: 6px 7px 14px rgba(0, 0, 0, 0.7);
}

.star_big {
    grid-column-start: 5 ;
    grid-column-end: 6;
    height: 25px;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    justify-self: center;
    transform: translateY(35px);
}

.star_small {
    grid-column-start: 5 ;
    grid-column-end: 6;
    height: 15px;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    justify-self: center;
    transform: translateY(10px);
    transform: translateX(-10px);
}

.star_big_10 {
    grid-column-start: 10 ;
    grid-column-end: 11;
    height: 25px;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    justify-self: center;
    transform: translateY(0px);
}

/* ROW 5 */

.r5_arrow {
    grid-area: 5 / 4 / 6 / 6 ;
    height: 60px;
    transform: translateY(50px) rotate(280deg);
    justify-self: center;
}

.r5_body_text {
    font-size: 24pt;
    font-family: kollektif;
    grid-area: 5 / 1 / 6 / 2;
    color: var(--grey);
    align-self: flex-end;
    transform: translateY(-150px);
}

.r5_percentage_text {
    font-size: 95pt;
    font-family: gomarice;
    grid-area: 5 / 1 / 6 / 11 ;
    color: var(--pink);
    -webkit-text-stroke: 1px white;
    text-shadow: 6px 7px 14px rgba(0, 0, 0, 0.7);
    align-self: flex-end;
    transform: translateY(-30px);
}

.r5_body_text_percentage {
    font-size: 24pt;
    font-family: kollektif;
    grid-area: 5 / 1 / 6 / 7;
    color: var(--grey);
    align-self: flex-end;
}

.r5_star_big {
    grid-area: 5 / 2 / 6 / 3;
    height: 25px;
    align-self: top;
    justify-self: left;
    transform: translateY(15px);
}

.r5_star_big2 {
    grid-area: 5 / 10 / 6 / 11;
    height: 25px;
    align-self: flex-end;
    justify-self: right;
    transform: translateY(15px);
}

/* ROW 9 */

.r9_body_text1 {
    grid-area: 9 / 3 / 10 / 11 ;
    font-size: 24pt;
    font-family: kollektif;
    color: var(--grey);
    text-align: center;
    align-self: center;
}

.APOD {
    grid-area: 9 / 3 / 10 / 11 ;
    font-size: 21pt;
    font-family: kollektif;
    color: var(--grey);
    text-align: center;
    align-self: flex-end;
}

.r9_satilite {
    grid-area: 9 / 1 / 10 / 2;
    height: 65px;
    width: auto;
    align-self: center ;
}

.r9_star_small {
    grid-area: 9 / 1 / 10 / 2;
    height: 15px;
    width: auto;
    transform: translateY(80px);
}

/* ROW 13 */

.r13_header_text {
    font-family: gomarice;
    grid-area: 13 / 1 / 14 / 8;
    font-size: 105px;
    transform: translateY(0px);
    color: var(--pink);
    -webkit-text-stroke: 1px white;
    text-shadow: 6px 7px 14px rgba(0, 0, 0, 0.7);
}

.r13_chat {  
    font-size: 24pt;
    font-family: kollektif;
    grid-area: 13 / 1 / 14 / 7;
    color: var(--grey);
    transform: translateY(105px);
}

.r13_star_small {
    grid-area: 13 / 11 / 14 / 12;
    height: 15px;
    width: auto;
    align-self: center;
    justify-self: right;
}

/* ROW 16 */

.r16_quotebox {
    height: 500px;
    width: auto;
    grid-area: 16 / 4 / 18 / 10;
    justify-self: center;
    z-index: 1;
}

.r16_quotetext {
    grid-area: 16 / 5 / 17 / 9;
    z-index: 2;
    align-self: center;
    justify-self: center;
    color: var(--pink);
    font-family: gomarice;
    text-shadow: 6px 7px 14px rgba(0, 0, 0, 0.7);
    font-size: 30pt;
    transform: translateY(70px);
}

 /* row 17 */

.r17_bodytext {
    grid-area: 17 / 8 / 18 / -1 ;
    font-size: 21pt;
    font-family: kollektif;
    color: var(--grey);
    align-self: center;
    transform: translateX(-50px) translateY(20px);
}

.r17_star_small {
    grid-area: 16 / 4 / 17 / 5;
    height: 15px;
    width: auto;
}

.r17_star_small2 {
    grid-area: 17 / 2 / 18 / 3;
    height: 15px;
    width: auto;
    align-self: flex-end;
}

/* ROW 18 */

.r18_galaxy {
    grid-area: 17 / 1 / -1 / 8 ;
    height: 450px;
    transform: translateX(-360px) translateY(100px) rotate(240deg);
    opacity: 0.4;
    z-index: 1;
}

.r18_star_small {
    grid-area: 18 / 12 / 19 / -1 ;
    height: 15px;
    width: auto;
    align-self: flex-end;
    transform: translateY(-45px) translateX(20px);
}

.r18_star_small2 {
    grid-area: 18 / 12 / 19 / -1 ;
    height: 25px;
    width: auto;
    align-self: flex-end;
}

/* ROW 19 */

.r19_ul {
    margin-top: 10px;
    grid-area: 19 / 1 / -1 / 6 ;
    font-family: kollektif;
    color: var(--grey);
    z-index: 2;
}

.r19_ul a {
    color: var(--grey);
}