@font-face {
    font-family: alarm-clock;
    src: url(/fonts/alarm\ clock.ttf);
}

@font-face{
    font-family: gomarice;
    src: url(/fonts/gomarice_gogono_cocoa_mochi.ttf);
}

@font-face {
    font-family: kollektif;
    src: url(/fonts/Kollektif.ttf);
}

@font-face {
    font-family: norwester;
    src: url(/fonts/norwester.otf);
}

:root {
    --dark_purple: #711C91;
    --pink: #EA00D9;
    --light_blue: #0ABDC6;
    --dark_blue: #133E7C;
    --background_blue: #091833;
    --light_green: #02C63D;
    --dark_green: #005319;
    --white: #ffffff;
    --grey: #F2F2f2;
}

.r4_arrow {
    grid-column: 12 / 13;
    grid-row: 4 / 5;
    height: 60pt;
    transform: translateY(-65px) rotate(120deg);
    align-self: start;
}

.r4_pop {
    grid-column: 10 / 13;
    grid-row: 4 / 5;
    font-family: kollektif;
    font-size: 24pt;
    color: var(--grey);
    text-align: right;
    align-self: center;
    z-index: 0;
}

.r4_pop_no {
    grid-column: 5 / 13;
    grid-row: 4 / 5;
    align-self: end;
    justify-self: right;
    font-family: gomarice;
    font-size: 94pt;
    color: var(--pink);
    -webkit-text-stroke: 1px white;
    text-shadow: 6px 7px 14px rgba(0, 0, 0, 0.7);
    z-index: 0;
}


.r4_star1 {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    align-self: center;
    justify-self: left;
    transform: translateY(-100px);
    height: 25px;
}

.r4_star2 {
    grid-column: 12 / 13;
    grid-row: 4 / 5;
    align-self: center;
    justify-self: right;
    transform: translateY(-100px) translateX(10px);
    height: 25px;
}

.r4_star3 {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    align-self: center;
    justify-self: left;
    transform: translateY(-80px) translateX(20px);
    height: 15px;
}

.r4_star4 {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    align-self: center;
    justify-self: left;
    transform: translateY(-130px) translateX(10px);
    height: 15px;
}

.r4_star5 {
    grid-column: 12 / 13;
    grid-row: 4 / 5;
    align-self: center;
    justify-self: right;
    transform: translateY(-70px) translateX(-10px);
    height: 15px;
}


.r8_star1 {
    grid-column: 11 / 12;
    grid-row: 8 / 9;
    align-self: end;
    justify-self: right;
    transform: translateX(-20px);
    height: 15px;
}

.r8_star2 {
    grid-column: 4 / 5;
    grid-row: 8 / 9;
    align-self: center;
    justify-self: left;
    transform: translateY(60px);
    height: 25px;
}

.r8_arrow {
    grid-column: 10 / 11;
    grid-row: 8 / 9;
    height: 60pt;
    transform: rotate(100deg);
    align-self: center;
    justify-self: left;
}

.r12_picture_info {
    grid-column: 2 / 12;
    grid-row: 12 / 13;
    align-self: start;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 12pt;
    color: var(--grey);
    z-index: 0;
}

.r12_star1 {
    grid-column: 4 / 5;
    grid-row: 12 / 13;
    align-self: center;
    justify-self: left;
    transform: translateY(10px);
    height: 25px;
}

.r10_r11 {
    grid-column: 2 / 12;
    grid-row: 10 / 12;
    width: 1050px;
    height: 600px;
    align-self: center;
    display: grid;
    background-image: url("/assets/Arp273Main_HubblePestana_3079.jpg");
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.r11_theater {
    width: 1050px;
    align-self: end;
}

.r11_star {
    grid-column: 1 / 2;
    grid-row: 11 / 12;
    align-self: end;
    justify-self: left;
    height: 25px;
}

.r10_galaxy {
    grid-area: 10 / 8 / 13 / -1;
    height: 450px;
    width: auto;
    align-self: center;
    transform: translateY(120px) translateX(-40px) rotate(-20deg);
    z-index: 1;
    opacity: 0.4;
}